<div class="container-fluid mt-5 mb-5">
<h1>Eat Da Burger!</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
<h2>Ready To Eat Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
    </div>
    <div class="col-6">
<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
    <li>
      <p>{{burger_name}}</p>
    </li>  
    {{/if}}
  {{/each}}
</ul>
    </div>
  </div>
</div>
<div class="row" style="margin: 0%;">
    <div class="col mb-4  mt-4 d-flex justify-content-center">
<div class="card text-center bgColor" style="width: 18rem;">
  <div class="card-header bgColor">
    <h2>Add a Burger</h2>
  </div>
  <div class="card-body">
      <form class="create-form">
    <div class="form-group">
    <label style="color: white; font-size: large;" for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
    </div>
  </div>
  <div class="card-footer bgColor">
    <button type="submit" class="btn btn-warning">Add Burger</button>
    </form>
  </div>
</div>
</div>
</div>

<footer>

</footer>
