<li>
	<p>{{burger_name}}</p>

	<button type="button" class="change-devoured btn btn-info" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour it!{{/if}}
	</button>

	<button type="button" class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete it!</button>
</li>
